body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

a {
    
    text-decoration: none;
}

.navbar {
    height: 64px;
    width: auto;
    padding: 32px;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}

.navbar a {
    font-weight: 600;
    font-size: 18px;
    color: #222;
    margin-left: 50px;
}

.navbar__logo {
    width: 64px;
    height: 64px;
    margin-right: 400px;
}

.navbar__button {
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    color: #000000;
    border: 2px solid #666666;
    border-radius: 35px;
    padding: 13px 30px;
}

.navbar__button a {
    margin-left: 0;
}

.icon-image {
    margin-right: 5px;
    vertical-align: sub;
    width: 20px;
    height: 20px;
}

.header {
    width: auto;
    height: 320px;
    padding: 300px;
    padding-top: 200px;
    background-color: #fff;
    text-align: left;
}

.header__h1 {
    font-size: 72px;
    line-height: 75px;
    color: #222;
    font-weight: 1000;
}

.header__button {
    padding: 20px 40px;
    background-color: #0044ff;
    border-radius: 35px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

.footer {
    background-color: #111111;
    color: #fff;
    padding: 100px 80px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.footer_column {
    flex: 1;
    max-width: 50%;
}

.footer__phone-button {
    font-size: 35px;
    color: #fff;
}

.footer__contacts-button {
    color: #fff;
    font-weight: 600;
}

.footer__copyright {
    background-color: #111111;
    color: #fff;
    padding: 40px 80px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 450;
    line-height: 8px;
}