html {
  scroll-behavior: smooth;
}
body {
  font-family: "Geologica";
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  margin: 0px;
  isolation: isolate;
  position: relative;
  width: 1920px;
  height: 1400px;
  background: #ffffff;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px 320px;
  gap: 32px;
  position: sticky;
  width: 1280px;
  height: 112px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  z-index: 100;
}

.header__logo {
  width: 64px;
  height: 64px;
}

.header__menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 40px;
  width: 1184px;
  height: 48px;
  flex-grow: 1;
}

.header__menu__element {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 4px;
  width: auto;
  height: 24px;
}

.header__menu__element__link {
  width: auto;
  height: 24px;
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  font-feature-settings: "ss01" on;
  color: #222222;
  transition: 0.15s linear;
}

.header__menu__button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 4px;
  width: 209px;
  height: 48px;
  border: 1px solid #222222;
  border-radius: 32px;
  color: #222222;
  transition: 0.15s linear;
}

.header__menu__button__text {
  text-decoration: none;
  width: 140px;
  height: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: inherit;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  color: inherit;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 240px 320px;
  padding-top: 140px;
  gap: 32px;
  width: 1280px;
  height: 57%;
  align-self: stretch;
  z-index: 1;
}

.content__heading {
  width: 1280px;
  height: 160px;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 80px;
  color: #222222;
  align-self: stretch;
  margin: 0;
}

.content__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  gap: 4px;
  background: #0044ff;
  border-radius: 32px;
  transition: 0.15s linear;
  color: #fff;
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 1920px;
  height: 672px;
  align-self: stretch;
  z-index: 0;
}

.footer__contacts {
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  padding: 240px 320px;
  gap: 56px;
  width: 1920px;
  height: 592px;
  background: #141414;
  border-bottom: 1px solid #2e2e2e;
  align-self: stretch;
}

.footer__contacts__group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 427.5px;
  height: 112px;
}

.footer__contacts__group__heading {
  width: 427.5px;
  height: 24px;
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #ffffff;
  align-self: stretch;
}

.footer__contacts__group__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  width: 265px;
  height: 72px;
}

.footer__contacts__group__contacts__phone {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 8px;
  width: 265px;
  height: 40px;
  color: #ffffff;
  transition: 0.15s linear;
}

.footer__contacts__group__contacts__phone__text {
  text-decoration: none;
  width: 265px;
  height: 40px;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: inherit;
}

.footer__contacts__group__contacts__social {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  width: 236px;
  height: 24px;
}

.footer__contacts__group__contacts__social__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 4px;
  width: 102px;
  height: 24px;
  color: #ffffff;
  transition: 0.15s linear;
}

.footer__social-link-text {
  text-decoration: none;
  width: 74px;
  height: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: inherit;
}

.footer__contacts__mail-time {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
  gap: 10px;
  width: 313px;
  height: 112px;
}

.footer__contacts__mail-time__mail {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 4px;
  margin: 0;
  width: 134px;
  height: 24px;
  color: #ffffff;
  transition: 0.15s linear;
}

.footer__contacts__mail-time__mail__text {
  display: flex;
  flex-direction: row;
  padding: 0px;
  gap: 4px;
  margin: 0;
  text-decoration: none;
  width: 134px;
  height: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: inherit;
}

.footer__contacts__mail-time__time-text {
  display: flex;
  margin: 0;
  padding: 0;
  width: 313px;
  height: 24px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  font-feature-settings: "ss01" on;
  color: #ffffff;
}

.footer__copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px 320px;
  gap: 32px;
  width: 1280px;
  height: 80px;
  background: #141414;
  align-self: stretch;
}

.footer__copyright__text {
  margin-right: 80px;
  width: 220px;
  height: 16px;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
}

.header__menu__element__link:hover {
  color: #0044FF;
}

.header__menu__button:hover {
  color: #0044FF;
  border-color: #0044FF;
}

.footer__contacts__mail-time__mail:hover {
  color: #0044FF;
}

.footer__contacts__group__contacts__social__link:hover {
  color: #0044FF;
}

.footer__contacts__group__contacts__phone:hover {
  color: #0044FF;
}

.content__button:hover {
  background-color: #95b2ff;
}